# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build

# mac
.DS_Store


# yarn
yarn.lock
yarn-debug.log*
yarn-error.log*
